<div class="header p-3 mb-5 bg-secondary">
  <a class="nav-bar text-white" href="/" style="text-decoration: none">Random Password Generator</a>
</div>

<div class="card w-50 mx-auto">
  <div class="card-body">
    <h2 class="card-title">
      Random Password Generator
      <i class="fa-solid fa-key"></i>
    </h2>
    <hr>
    <form action="/" method="POST">
      <div class="mb-3 row justify-content-between">
        <label for="passwordLength" class="col-sm-4 col-form-label">
          Password Length
        </label>
        <div class="col-sm-8">
          <input type="number" class="form-control" id="passwordLength" name="passwordLength" max="16" min="4" value={{data.passwordLength}}>
          <div class="form-text">
            Length is available between 4 ~ 16
          </div>
        </div>
      </div>
      <div class="mb-3 d-flex flex-row align-items-center">
        <span class="col-4">
          Include Lowercase Characters
        </span>
        <div class="form-check ms-2">
          <input class="form-check-input" type="checkbox" name="lowercase" id="lowercase" {{#if data.lowercase}}checked{{/if}}>
          <label class="form-check-label" for="lowercase">
            (e.g. abcdefg)
          </label>
        </div>
      </div>

      <div class="mb-3 d-flex flex-row align-items-center">
        <span class="col-4">
          Include Uppercase Characters
        </span>
        <div class="form-check ms-2">
          <input class="form-check-input" type="checkbox" name="uppercase" id="uppercase" {{#if data.uppercase}}checked{{/if}}>
          <label class="form-check-label" for="uppercase">
            (e.g. ABCDEFG)
          </label>
        </div>
      </div>
      <div class="mb-3 d-flex flex-row align-items-center">
        <span class="col-4">
          Include Numbers
        </span>
        <div class="form-check ms-2">
          <input class="form-check-input" type="checkbox" name="numbers" id="numbers" {{#if data.numbers}}checked{{/if}}>
          <label class="form-check-label" for="numbers">
            (e.g. 123456)
          </label>
        </div>
      </div>
      <div class="mb-3 d-flex flex-row align-items-center">
        <span class="col-4">
          Include Symbols
        </span>
        <div class="form-check ms-2">
          <input class="form-check-input" type="checkbox" name="symbols" id="symbols" {{#if data.symbols}}checked{{/if}}>
          <label class="form-check-label" for="symbols">
            (e.g. @#$%)
          </label>
        </div>
      </div>
      <div class="mb-3 row justify-content-between">
        <label for="excludeCharacters" class="col-sm-4 col-form-label">
          Exclude Characters
        </label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="excludeCharacters" name="excludeCharacters" value={{data.excludeCharacters}}>
          <div class="form-text">
            These characters will not appear in the password
          </div>
        </div>
      </div>
      {{#if password}}
      <div class="generate-password p-3 mb-2">  
        <span>Your password is: <code class="text-danger ms-2">{{password}}</code></span>        
      </div>
      {{/if}}
      <button type="submit" value="submit" class="btn btn-success mb-3">
        Generate Password
      </button>
    </form>
  </div>
  <small class="card-footer text-muted text-end">
    Idea is inspired by
    <a href="https://passwordsgenerator.net/" class="fw-bold" target="_blank" style="text-decoration: none">
      Strong Random password
    </a>
  </small>
</div>